.header {
  width: 100%;
  background-color: #007bff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-bottom: 10px;
  margin-top: 0;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  position: relative;
}

.input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
}

.search_button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.search_button::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("/public/search.svg");
  background-size: cover;
}
